<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Backbone.js • TodoMVC</title>
	<link rel="stylesheet" href="../../assets/base.css">
	<!--[if IE]>
	<script src="../../assets/ie.js"></script>
	<![endif]-->
</head>
<body>
	<section id="todoapp">
		<header id="header">
			<h1>todos</h1>
			<input id="new-todo" placeholder="What needs to be done?" autofocus>
		</header>
		<section id="main">
			<input id="toggle-all" type="checkbox">
			<label for="toggle-all">Mark all as complete</label>
			<ul id="todo-list"></ul>
		</section>
		<footer id="footer"></footer>
	</section>
	<div id="info">
		<p>Double-click to edit a todo</p>
		<p>Written by <a href="https://github.com/addyosmani">Addy Osmani</a></p>
		<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
	</div>

	<script type="text/template" id="item-template.bak">
		<div class="view">
			<input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
			<label><%- title %></label>
			<button class="destroy"></button>
		</div>
		<input class="edit" value="<%- title %>">
	</script>

	<script type="text/basis-template" id="item-template">
	  <li class="{completed} {hidden} {editing}">
			<div class="view">
				<input class="toggle" type="checkbox" checked="{completed}" event-click="toggleCompleted" />
				<label event-dblclick="edit">{title}</label>
				<button class="destroy" event-click="clear"></button>
			</div>
			<input{input} class="edit" value="{title}" event-keyup="updateOnEnter" event-blur="close" />
		</li>
	</script>

	<script type="text/template" id="stats-template">
		<span id="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
		<ul id="filters">
			<li>
				<a class="selected" href="#/">All</a>
			</li>
			<li>
				<a href="#/active">Active</a>
			</li>
			<li>
				<a href="#/completed">Completed</a>
			</li>
		</ul>
		<% if (completed) { %>
		<button id="clear-completed">Clear completed (<%= completed %>)</button>
		<% } %>
	</script>
	<script src="../../assets/base.js"></script>
	<script src="../../assets/jquery.min.js"></script>
	<script src="../../assets/lodash.min.js"></script>
	<script src="js/lib/backbone.js"></script>
	<script src="js/lib/backbone.localStorage.js"></script>
	<script src="js/lib/basis.js"></script>
	<script>
	  bt.backbone = (function(){
			function actionProxy(actionName, event){
				if (typeof this[actionName] == 'function')
					this[actionName](event);
			}

			var BINDING_TEMPLATE_INTERFACE = {
		    attach: function(object, handler, context){
		    	for (var event in handler) {
		    		var parts = event.split(':');
		    	  if (parts.length > 1)
		    	  	object[parts[0]].on(parts[1], handler[event].bind(context, object));
		    	  else
		          object.on(event, handler[event], context);
		      }
		    },
		    detach: function(object, handler, context){
		    	for (var event in handler) {
		    		var parts = event.split(':');
		    	  if (parts.length > 1)
		    	  	object[parts[0]].off(parts[1], handler[event], context);
		    	  else
		          object.off(event, handler[event], context);
		      }
		    }
		  };

			var g_bindings = {};
			var g_seed = 1;
			
			return function(source){
				var tmpl = bt.template(source);
		    return function(){
		    	var binding;
		    	if (this.binding)
		    	{
		    		binding = g_bindings[this.binding.id_];
		    		if (!binding)
		    		{
		    			if (!this.binding.id_)
		    				this.binding.id_ = g_seed++;

		    			binding = g_bindings[this.binding.id_] = {
		    				bindingId: this.binding.id_
		    			};
		    			
		    			for (var key in this.binding) {
		    				if (this.binding[key]) {
			    				if (typeof this.binding[key] == 'string') {
			    					var m = this.binding[key].match(/^model:(.*)$/);
			    				  if (m) {
			    				  	binding[key] = (function(key){
			    				  		return {
													events: 'model:change',
													getter: function(view){
													  return view.model.get(key);
													}
												};
											})(m[1] || key);
										} else {
			    				  	binding[key] = (function(key){
			    				  		return {
													getter: function(view){
													  return view[key];
													}
												};
											})(key);
										}
			    				} else {
			    			  	if (typeof this.binding[key] == 'string' || typeof this.binding[key] == 'object')
			    			  		binding[key] = this.binding[key];
			    			  }
			    		  }
			    		}
		    		}
		    	}

		    	this.tmpl = tmpl.createInstance(this, actionProxy, null, binding, BINDING_TEMPLATE_INTERFACE);

					return this.tmpl.element;
				}
			}
		})();
	</script>
	<script src="js/models/todo.js"></script>
	<script src="js/collections/todos.js"></script>
	<script src="js/views/todos.js"></script>
	<script src="js/views/app.js"></script>
	<script src="js/routers/router.js"></script>
	<script src="js/app.js"></script>
</body>
</html>
